{% extends 'base.html' %}

{% block content %}

    <h1>INGREDIENT DETAIL SCREEN</h1>


    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ recipe.name }}<span>
                <p>Description : {{ recipe.description }} </p>
                <p>Ingredients: {{ recipe.ingredients }} </p>
                <p>Method: {{ recipe.method }}</p>
                <p>Portions: {{ recipe.portions }}</p>
                <p>Nutritional Value: {{ recipe.nutrition }}</p>
                <p>Carbon Emissions of Ingredients: {{ recipe.emissions }}</p>
                <!-- <p>Users: {{ recipe.portions }}</p> -->



    

{% endblock %}