{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
<div class="container">

    {% if object %}
        <h1>Edit {{ object.name }} </h1>
    {% else %}
        <h1>Add Recipe</h1>
    {% endif%}
    
    <form action="" method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
    
        <input type="submit" value="submit" class="btn btn-primary">

    </form>

</div>

<!-- STEP 1 -> SELECT ALL INGREDIENTS -> SEARCH -> VIEW RESULTS -> SELECT INGREDIENT -> ADD
REPEAT STEP 1 AS REQUIRED
STEP 2 -> RECIPE FORM INCLUDING INGREDIENT QTY EXCLUDING RECIPE METHOD
STEP 3 -> RECIPE METHOD IMAGE UPLOAD -->

{% endblock %}