{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
    <h1>RECIPE INDEX</h1>

    <div class="card">

        <a href="{% url 'recipes_detail' recipe.id %}">
        <div class="card-content">
    
            <div class="flex-container">
    
                <span class="card-title">{{ recipe.name }}<span>
                <p>{{ recipe.image }} </p>
                <p>{{ recipe.description }} </p>
            </div>
        </div>
        </a>
    </div>
                


{% endblock %}