{% extends 'base.html' %}

{% block content %}

<div id="fullpage">

    <div class="section active" id="section1">
        <div class="fp-bg"></div>
        <h1>Home</h1>
        <h3>Upload your recipes to calculate both the Nutritional Value and Carbon Footprint</h3>
    </div>

    <div class="section" id="section2">
        <div class="fp-bg"></div>
        <h1>Food info</h1>
        <h3>It is yummy</h3>
    </div>

    <div class="section" id="section3">
        <div class="fp-bg"></div>
        <h1>C02 info</h1>
        <h3>It is bad</h3>
    </div>

     <div class="section" id="section4">
        <div class="fp-bg"></div>
        <h1>Sign up</h1>
        <footer>
            Footer????
        </footer>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.11/fullpage.min.js" integrity="sha512-ojnoeSkK5NDwnuW5S0ZnddobHez8Bx1yVa3RE+Cd0fGEuY/NEd4sgVF/CJ6eDtnOeLZLbTJpNFrCkUYbHS2hRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
        // sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff']
    });
</script>


{% endblock %}