
/* BELOW JUST TO LET ME PLAY AROUND WITH FULLPAGE.JS */

#section1 {
    background-color: bisque;   
}

#section2 {
    background-color: rgb(121, 121, 121);
}

#section3 {
    background-color: rgb(115, 131, 113);
}

#section4 {
    background-color: rgb(195, 127, 127);
}